div.guitar-container {
    display: -webkit-box;
}

div.divider {
    float: left;
}

div.fret-marker {
    background-color: black;
    height: 100%;
    width: 5px;
    float: left;
}

div.fret {
    height: 40px;
    width: 40px;
    background-color: brown;
    position: relative;
}

div.first-fret {
    background-color: yellow !important;
}

div.fret:hover {
    cursor: pointer;
    background-color: green !important;
}


div.string {
    margin-top: 50%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
